Lab_1\RAD Studio/DynamicDLL_Usoltsev/Win32/Debug
Lab_1\RAD Studio/DynamicDLL_Usoltsev/__astcache
Lab_1\RAD Studio/DynamicDLL_Usoltsev/__history

Lab_1\RAD Studio/StaticConsoleDLL_Usoltsev/Win32/Debug
Lab_1\RAD Studio/StaticConsoleDLL_Usoltsev/__astcache
Lab_1\RAD Studio/StaticConsoleDLL_Usoltsev/__history

Lab_1\Visual Studio\ConsoleApp_Usoltsev\ConsoleApp_Usoltsev\x64\Debug

MultithreadApp_Usoltsev\__astcache
MultithreadApp_Usoltsev\__history
MultithreadApp_Usoltsev\__recovery
MultithreadApp_Usoltsev\Win32\Release