*.local
__recovery/
RAD Studio/DynamicDLL_Usoltsev/Win32/Debug
RAD Studio/DynamicDLL_Usoltsev/__astcache
RAD Studio/DynamicDLL_Usoltsev/__history

RAD Studio/StaticConsoleDLL_Usoltsev/Win32/Debug
RAD Studio/StaticConsoleDLL_Usoltsev/__astcache
RAD Studio/StaticConsoleDLL_Usoltsev/__history

Visual Studio\ConsoleApp_Usoltsev\ConsoleApp_Usoltsev\x64\Debug
